body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(255, 255, 255);
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
#navbar{
    background-color:rgb(206, 206, 206);
    color: rgb(0, 0, 0);
}

.expandir{
    padding: 0px;
    margin: 0px;
    width: 1910px;
    height: 20px;
}
